.MyLogo {
    color: #FFFFFF;
    background: #232536;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 12px #FFF, 0 0 15px #49ff18, 0 0 20px #49FF18, 0 0 25px #49FF18, 0 0 30px #49FF18, 0 0 30px #49ff18;
}